.world-root {
  position: absolute;
  left: 0;
  bottom: env(safe-area-inset-bottom);
  width: 100dvw;
  display: flex;
  flex-direction: row-reverse;
}

.build-button {
  padding: 0.5em;
  margin: 0;
}

.select-button {
  padding: 0.5em;
  margin: 0;
}
